:root {
  --color-navy: #2f3061;
  --color-mint: #f7fff7;
  --color-brown: #343434;
  --color-yellow: #ffe66d;
  --color-blue-light: #6ca6c1;
  --font-primary: "Righteous", cursive;
  --font-secondary: "M PLUS 1p", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
